.saving {
  background-color: #ffeac0;
}

.saved {
  background-color: transparent;
  animation: completeSaving 1s linear;
}

.cell:hover {
  background-color: var(--chakra-colors-primary-200);
}

@keyframes completeSaving {
  0% {
    background-color: #ffeac0;
  }
  20% {
    background-color: #9af5ab;
  }
  60% {
    background-color: #9af5ab;
  }
  100% {
    background-color: transparent;
  }
}
