.saving {
  animation: beginSaving 1s linear forwards;
  background-color: #fdefd290;
}

@keyframes beginSaving {
  0% {
    background-color: unset;
  }
  30% {
    background-color: unset;
  }
  100% {
    background-color: #fdefd290;
  }
}

.saved {
  background-color: transparent;
  animation: completeSaving 1s linear;
}

.cell:hover {
  background-color: var(--chakra-colors-primary-100);
}

@keyframes completeSaving {
  0% {
    background-color: #c0fecb90;
  }
  50% {
    background-color: #c0fecb90;
  }
  100% {
    background-color: transparent;
  }
}
